@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <title>Домашняя страница</title>
</head>
<body>
    <div class="jumbotron">
        <h1 class="display-4">Вау, это что магазин?!</h1>
        <p class="lead">Почти, тут ты не сможешь купить майнкрафт по скидке, зато поглядишь какое приложение я забабахал.</p>
        <hr class="my-4">
        <p>В любом случае переходи в каталог и посмотри, что у меня на продажу.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/Storage/StoragePage" role="button">Подглядеть</a>
        </p>
    </div>

</body>
</html>
