@model Store.Core.Models.Product
<div class="container-fluid mt-2">
    @Html.ActionLink("Назад", "Index", "Storage", new { @class = "btn btn-secondary" })
</div>
@using (Html.BeginForm())
{
    @Html.ValidationSummary()


    <div class="form-group col-sm-4">
        <label for="Name">Название:</label>
        <input id="Name" type="text" class="form-control" name="Name" placeholder="Введите название" />
    </div>

    <div class="form-group col-sm-4">
        <label for="Price">Цена:</label>
<!--
        <input id="Price" type="number" class="form-control" name="Price" placeholder="Введите цену" />
-->
        @Html.EditorFor(m => m.Price, new { htmlAttributes = new { @class = "form-control", placeholder = "Введите цену",
       data_val_number ="введено не число" } })
        <p class="help-block">
             @Html.ValidationMessageFor(m=>m.Price)
        </p>
    </div>

    <div class="form-group col-sm-4">
        <label>Описание:</label>
        <input id="Description" type="text" class="form-control" name="Description" placeholder="Введите описание" />
    </div>
    <button type="submit" class="btn btn-primary ml-3">Добавить</button>

}
@section scripts{
    <script src="~/bundles/jqueryval"></script>
}