@using Store.DB.Models
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <title>RemoveProduct</title>
</head>
<body>
    <div class="container-fluid mt-2">
        <a class="btn btn-secondary" href="/Storage/StoragePage">Назад</a>
    </div>
    <div>
        <table class="table table-sm table-borderless">
            <thead>
                <tr>
                    <td class=""></td>
                    <td class=""></td>
                </tr>
            </thead>
            <tbody>
                @foreach (Product p in Model)
                {
                    <tr class="">
                        <td>@p.Name</td>
                        <td>
                            @using (Html.BeginForm())
                            {
                                <input type="hidden" value="@p.Id" name="ID" />
                                <button class="btn btn-outline-danger">Удалить</button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
